.wrap
  .container
    .row.justify-content-between
      .col.d-flex.align-items-center
        %p.mb-0.phone
          %span.mailus Phone no:
          %a{href: "#"} +00 1234 567
          or
          %span.mailus email us:
          %a{href: "#"} shadman@email.com
      .col.d-flex.justify-content-end
        .social-media
          %p.mb-0.d-flex
            %a.d-flex.align-items-center.justify-content-center{href: "#"}
              %span.fa.fa-facebook
                %i.sr-only Facebook
            %a.d-flex.align-items-center.justify-content-center{href: "#"}
              %span.fa.fa-twitter
                %i.sr-only Twitter
            %a.d-flex.align-items-center.justify-content-center{href: "#"}
              %span.fa.fa-instagram
                %i.sr-only Instagram
            %a.d-flex.align-items-center.justify-content-center{href: "#"}
              %span.fa.fa-dribbble
                %i.sr-only Dribbble

%nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
  .container
    %a.navbar-brand{href: "#"}
      Hotel
      %span Rental
    %button.navbar-toggler{"aria-controls" => "ftco-nav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#ftco-nav", "data-toggle" => "collapse", type: "button"}
      %span.fa.fa-bars
      Menu
    #ftco-nav.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item.active
          %a.nav-link{href: "#"} Home
        %li.nav-item
          %a.nav-link{href: "#"} About
        %li.nav-item
          %a.nav-link{href: "#"} Services
        %li.nav-item
          %a.nav-link{href: "#"} Rooms
        %li.nav-item
          %a.nav-link{href: "#"} Blog
        %li.nav-item
          %a.nav-link{href: "#"} Contact

.fa.fa-flag
